:root {
    --font-family: "AnkaCoder Condensed", "AnkaCoder Condensed Nerd Font", "Noto Color Emoji";
    --font-size: 12px;

    --basebg: #1d2021;
    --basefg: #ebdbb2;
    --base00: #1d2021;
    --base08: #ebdbb2;
    --base01: #cc241d;
    --base09: #fb4934;
    --base02: #98971a;
    --base10: #b8bb26;
    --base03: #d65d0e;
    --base11: #d65d0e;
    --base04: #458588;
    --base12: #83a598;
    --base05: #b16286;
    --base13: #d3869b;
    --base06: #689d6a;
    --base14: #8ec07c;
    --base07: #a89984;
    --base15: #ebdbb2;
    --base16: #d65d0e;
    --base17: #282828;
    --base18: #32302f;

    --button: var(--base08);
}

.theme-dark {
    --header-primary: var(--basefg) !important;
    --header-secondary: var(--basefg) !important;

    --text-normal: var(--basefg) !important;
    --text-muted: var(--base07) !important;
    --text-link: var(--base16) !important;

    --channels-default: var(--base07) !important;

    /* --brand-experiment: var(--base10); */

    --interactive-normal: var(--base07) !important;
    --interactive-hover: var(--basefg) !important;
    --interactive-active: var(--basefg) !important;
    --interactive-muted: var(--base07) !important;

    --background-primary: var(--basebg) !important;
    --background-secondary: var(--base17) !important;
    --background-secondary-alt: var(--base18) !important;
    --background-tertiary: var(--basebg) !important;
    --background-accent: var(--base06) !important;
    --background-floating: var(--basebg) !important;
    --background-modifier-selected: var(--base17) !important;

    --profile-gradient-primary-color: var(--basebg) !important;

    --elevation-high: none !important;
    --elevation-low: none !important;

    --guild-header-text-shadow: none !important;

    --channeltextarea-background: var(--base17) !important;

    --activity-card-background: var(--base17) !important;

    --deprecated-panel-background: var(--base17) !important;

    --chat-area-offset: 0px !important;

    --bold-font: var(--font-family) !important;
    --code-font: var(--font-family) !important;
    --italic-font: var(--font-family) !important;
}

* {
    font-family: var(--font-family) !important;
    font-weight: normal !important;
    font-size: var(--font-size) !important;
    text-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    text-shadow: none !important;
    -moz-tab-size: 1 !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    animation: none !important;
}

div#gif-picker-tab-panel,
div[class*="scroller"][class*="thin"][class*="scrollerBase"],
div[class*="scroller"][class*="thin"][class*="scrollerBase"],
div[class*="content"][class*="content"][class*="thin"][class*="scrollerBase"],
div[class*="root"][class*="small"][class*="fullscreenOnMobile"][class*="rootWithShadow"],
div[class*="input"][class*="flexCenter"][class*="flex"][class*="justifyCenter"][class*="alignCenter"],
div[class*="modal"][class*="root"][class*="small"][class*="fullscreenOnMobile"][class*="rootWithShadow"],
div[class*="content"][class*="settingsContent"][class*="noScroll"][class*="thin"][class*="scrollerBase"],
div[class*="root"][class*="small"][class*="fullscreenOnMobile"][class*="rootWithShadow"] div[class*="message"],
/* div[class*="content"][class*="settingsContent"][class*="noScroll"][class*="thin"][class*="scrollerBase"] div[class*="select"], */
div[class*="input"][class*="flexCenter"][class*="flex"][class*="justifyCenter"][class*="alignCenter"] input,
div[class*="flex"][class*="flex"][class*="horizontal"][class*="horizontal"][class*="flex"][class*="directionRow"][class*="justifyStart"][class*="alignCenter"][class*="noWrap"][class*="header"],
div[class*="flex"][class*="flex"][class*="horizontalReverse"][class*="horizontalReverse"][class*="flex"][class*="directionRowReverse"][class*="justifyStart"][class*="alignStretch"][class*="noWrap"][class*="footer"][class*="footerSeparator"],
div[class*="flex"][class*="flex"][class*="horizontalReverse"][class*="horizontalReverse"][class*="flex"][class*="directionRowReverse"][class*="justifyStart"][class*="alignStretch"][class*="noWrap"][class*="footer"][class*="settingsFooter"][class*="footerSeparator"],
div[class*="flex"][class*="flex"][class*="horizontalReverse"][class*="horizontalReverse"][class*="flex"][class*="directionRowReverse"][class*="justifyStart"][class*="alignStretch"][class*="noWrap"][class*="footer"][class*="footer"][class*="footerSeparator"] {
    color: var(--basefg) !important;
    background-color: var(--basebg) !important;
}

div#message-thread,
div.buttons-uaqb-5 *,
div[aria-label="Help"],
div[aria-label="Inbox"],
svg[class*="mentionIcon"],
div#message-add-reaction-1,
[aria-label="Send a gift"],
div[class*="wumpusWrapper"],
div[class*="typingDots"] svg,
div[class*="newMemberBadge"],
button[class*="attachButton"],
div[class*="expression-picker"],
div[aria-label="Update Ready!"],
[aria-label="Show User Profile"],
div[class*="text-sm-bold"][class*="mentionButton"] svg,
li[class*="channel"][class*="container"][aria-posinset="3"] {
    display: none !important;
}

code {
    font-family: var(--font-family) !important;
    font-size: 15px !important;
}

:not(i) {
    font-family: var(--font-family) !important;
    font-weight: normal !important;
}

strong {
    color: var(--base10) !important;
    font-weight: bold !important;
}

div[aria-label="Servers"] * {
    border-radius: none !important;
}

/* div[class*="liveSmall"] { */
/*     color: var(--basebg) !important; */
/* } */

[class*="userProfileOuterThemed"][style] {
    display: default !important;
    color: var(--basefg) !important;
    background-color: var(--basebg) !important;
}

[class*="userProfileModalOverlayBackground"] {
    color: var(--basefg) !important;
    background-color: var(--basebg) !important;
    margin: default !important;
}

li div[class*="modeSelected"] * {
    background-color: var(--basebg) !important;
}

div[class*="typingDots"] span::before {
    content: "---" !important;
    color: var(--base12) !important;
    background-color: var(--basebg) !important;
    font-weight: bold !important;
    padding: 0px 5px 0px 0px !important;
}

div[class*="scroller"][class*="thin"][class*="scrollerBase"][class*="fade"] {
    padding-right: 7px !important;
    background-color: var(--base17) !important;
}

div[class*="groupStart"]:has(div[class*="blockedSystemMessage"][class*="container"][class*="compact"]) {
    display: none !important;
}

/* div[class*="custom-theme-background custom-profile-theme"][style*="--"] { */
/* } */

div[class*="userPopoutOverlayBackground"][class*="overlayBackground"] {
    color: var(--basefg) !important;
    background-color: var(--basebg) !important;
}

div[class*="tooltip"][class*="tooltipTop"][class*="tooltipPrimary"][class*="reactionTooltip"] {
    height: 80px !important;
    width: 280px !important;
}

div[class*="note"] textarea::placeholder,
div[class*="inputWrapper"] input::placeholder {
    font-family: var(--font-family) !important;
}

div[class*="reactionDefault"] img[class*="emoji"],
div[class*="reactionSelected"] img[class*="emoji"] {
    padding-right: 15px !important;
}

div[class*="text-sm-bold"][class*="mentionButton"]::before {
    content: "@" !important;
    padding: 0 5px !important;
}

span[class*="spoilerText"][class*="hidden"] {
    background-color: var(--base18) !important;
}

span ~ i[class*="separator"] {
    opacity: 1 !important;
    text-align: right !important;
    padding-top: 2px !important;
    padding-left: 8px !important;
    font-style: normal !important;
    color: var(--basefg) !important;
    /* background-color: var(--basebg) !important; */
}

span[class*="edited"] {
    color: var(--base18) !important;
}

span[class*="edited"]:hover {
    color: var(--basefg) !important;
}

div[class^='isCompact'] {
    font-weight: 300 !important;
}

textarea {
    font-weight: 400 !important;
}

div[class*="reactionSelected"],
div[class*="reactionSelected"] *,
div[class*="reactorsContainer"] * {
    font-weight: bold !important;
    color: var(--base06) !important;
    background-color: var(--basebg) !important;
}

[class*="scroller"][class*="none"][class*="scrollerBase"],
[class*="scroller"][class*="none"][class*="scrollerBase"]:hover {
    border-radius: 0px !important;
    background-color: var(--basebg) !important;
}

div[class*="text-md-normal"] {
    font-weight: bold !important;
    color: var(--base12) !important;
}

[aria-label="Quick switcher"]::placeholder {
    font-family: var(--font-family) !important;
    font-size: var(--font-size) !important;
}

::placeholder {
    font-family: var(--font-family) !important;
    font-size: var(--font-size) !important;
}

[aria-controls="newest-tab"],
[aria-controls="oldest-tab"],
[aria-controls="most_relevant-tab"] {
    color: var(--basebg) !important;
    background-color: var(--base06) !important;
}

[aria-label="Add Friend"],
[class^="circleIconButton"][class*="selected"] {
    background-color: var(--base02) !important;
    color: var(--basebg) !important;
}

[class^="peopleList"] {
    background-color: var(--basebg) !important;
}

div[class*="none"][class*="scrollerBase"],
div[class*="banner"][class*="panelBanner"][class*="bannerPremium"][class*="reducedMotion"] {
    background-color: var(--base17) !important;
}

div[class*="iconWrapper"] svg {
    opacity: 1 !important
    color: var(--basefg) !important;
}

div[class*="iconWrapper"],
div[class*="defaultColor"][class*="text-sm-medium"] {
    color: var(--basebg) !important;
}

span[class*="latin12CompactTimeStamp"] {
    margin-right: 10px !important;
}

div[id*="message-reply-context"] {
    margin-left: 15px !important;
}

span[class*="latin12CompactTimeStamp"] {
    display: inherit !important;
    margin-right: 5px !important;
}

time {
    display: inherit !important;
}

div[class*="usernameFont"][class*="username"][class*="usernameSpeaking"] {
    color: var(--base10) !important;
    font-weight: bold !important;
}

div[class*="usernameFont"][class*="username"][class*="usernameSpeaking"]:hover {
    color: var(--basefg) !important;
    font-weight: normal !important;
}

div[class*="scroller"][class*="thin"][class*="scrollerBase"] {
    background-color: var(--basebg) !important;
}

div[class*="contentWrapper"] div[class*="scroller"][class*="thin"][class*="scrollerBase"] strong {
    color: var(--basebg) !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-handle,
::-webkit-scrollbar-track-piece {
    display: none !important;
}

div[class*="inner"][class*="sansAttachButton"] {
    border-radius: 0px !important;
}

[class*="autocompleteInner"] {
    background-color: var(--base17) !important;
}

[class*="selectorSelected"] {
    background-color: var(--base16) !important;
}

[class*="selected"][class*="selectable"][class*="base"],
[class*="reactors"][class*="thin"][class*="scrollerBase"][class*="fade"],
[class*="scroller"][class*="thin"][class*="scrollerBase"][class*="fade"] {
    background-color: var(--basebg) !important;
}

div[class*="reactions"] .emoji {
    height: 18px !important;
    width: 18px !important;
    border: none !important;
    background-color: var(--base17) !important;
}

div[class*="reactionInner"],
div[class*="reaction"]:hover [class*="reactionCount"] {
    background-color: var(--base17) !important;
}

div[class*="reactionCount"] {
    font-family: var(--font-family) !important;
    background-color: var(--base17) !important;
    margin-top: 2px !important;
}

[class*="reactionMe"] div[class*="reactionCount"] {
    background-color: var(--base17) !important;
}

[class*="reactionMe"] {
    background-color: var(--base18) !important;
    border: none !important;
    border-bottom: 3px solid var(--base10) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

[class*="reactionMe"] [class*="reactionCount"],
[class*="reactionMe"]:hover [class*="reactionCount"] {
    display: inline-block !important;
    background-color: var(--basebg) !important;
    color: var(--basefg) !important;
}

li[class*="channel"][class*="container"] div[class*="interactive"][class*="interactiveSelected"] {
    color: var(--basebg) !important;
    background-color: var(--base12) !important;
}

[data-list-item-id*="private-channels"] {
    display: all !important;
}

img[class*="avatar"], img[class*="replyAvatar"] {
    filter: none !important;
    border-radius: 50px !important;
    overflow: hidden !important;
    transition: none !important;
}

img[class*="avatar"]:hover {
    filter: none !important;
    transform: scale(1.1) !important;
}

div[class*="avatar"] {
    font-size: 10px !important;
    font-weight: bold !important;
}

div[class*="keyboardShortcutsModal"] {
    color: var(--basefg) !important;
    background-color: var(--basebg) !important;
}

[class*="emojiItemDisabled"] {
    filter: grayscale(100%) !important;
}

div[class*="groupStart"] > [role="group"] {
    display: none !important;
}

div[class*="size12"][class*="marginBottom8"][class*="bodyTitle"]:nth-of-type(3),
[class*="scrollbar"][class*="scrollbarGhostHairline"][class*="input"][class*="inputDefault"][class*="textarea-2r0oV8"] {
    font-family: var(--font-family) !important;
}

div[class*="item"][class*="labelContainer"][class*="focused"] {
    color: var(--basebg) !important;
    background-color: var(--base12) !important;
}

[class*="colorDefault"][class*="colorBrand"][class*="labelContainer"],
#user-context-invite-to-server,
[class*="guilds"][class*="scroller"] > [class*="listItem"]:nth-last-child(-1n + 3) {
    display: none !important;
}

div[class*="content"][class*="content"][class*="selectable"][class*="thin"][class*="scrollerBase"] {
    color: var(--basefg) !important;
    background-color: var(--basebg) !important;
}

div[class*="keybindDescription"] {
    font-weight: bold !important;
}

div[class*="cooldownWrapper"] {
    font-size: 12px !important;
}

span[class*="key"] {
    border-radius: 0px !important;
    color: var(--basebg) !important;
    background-color: var(--base06) !important;
}

div[class*="wrapper"][class*="selected"][aria-label="Direct Messages"] div {
    color: var(--basebg) !important;
    background-color: var(--base12) !important;
}

div[class*="message"][class*="selected"] div[class*="contents"] [id*="message-content"] * {
    color: var(--basebg) !important;
    background-color: var(--base05) !important;
}

svg[class*="bindArrow"] g {
    fill: var(--basebg) !important;
}

[class*="colorBrand"] {
    color: var(--base06) !important;
}

[class*="colorDanger"] {
    color: var(--base01) !important;
}

[class*="lookBlank"] {
    color: var(--basefg) !important;
}

[class*="input"]:focus {
    border-color: var(--base06) !important;
}

[id*="popout"][class*="container"] {
    background-color: var(--basebg) !important;
    box-shadow: none !important;
    color: var(--basefg) !important;
}

[id*="popout"][class*="container"]::after {
    background-image: none !important;
}

[class*="navButtonActive"] {
    background-color: var(--basebg) !important;
    color: var(--basefg) !important;
}

[class*="option"][class*="selected"] {
    background-color: var(--base17) !important;
}

[class*="resultsGroup"] * {
    color: var(--basefg) !important;
}

[class*="resultsGroup"][class*="filter"] {
    color: var(--basefg) !important;
}

[class*="resultsGroup"][class*="header"] {
    color: var(--basefg) !important;
}

[class*="peopleColumn"] {
    background-color: var(--basebg) !important;
}

[class*="section"] {
    background-color: var(--basebg) !important;
}

[class*="sidebar"][class*="container"][class*="header"] {
    background-color: var(--basebg) !important;
    box-shadow: none !important;
}

[class*="sidebar"] > [class*="container"],
[class*="members"][class*="scroller"] {
    box-shadow: none !important;
}

[class*="scrollerWrap"] {
    border-radius: 0px !important;
}

[class*="membersWrap"] {
    overflow: hidden !important;
}

[class*="chatContent"][class*="form"] {
    padding-top: 8px !important;
    background-color: var(--basebg) !important;
    box-shadow: none !important;
}

[class*="textAreaSlate"] {
    background-color: var(--base17) !important;
    border-radius: 0px !important;
    color: var(--basefg) !important;
    box-shadow: none !important;
}

[class*="textAreaSlate"] > * {
    border-radius: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

[class*="userPopout"][class*="body"],
[class*="userPopout"][class*="footer"] {
    background-color: var(--basebg) !important;
}

[class*="userPopout"][class*="headerNormal"] {
    background-color: var(--base17) !important;
}

[class*="headerPlaying"] * {
    color: var(--basebg) !important;
    background-color: var(--base06) !important;
}

div[class*="separator"] {
    background-color: var(--base18) !important;
}

div[class*="textBadge"] {
    color: var(--basebg) !important;
    background-color: var(--base04) !important;
}

nav[class*="sidebar"] div[class*="item"][class*="selected"],
div[class*="background"][class*="selectedBackground"],
div[class*="premiumLabel"][class*="selected"] {
    color: var(--basebg) !important;
    background-color: var(--base06) !important;
}

div[class*="container-2nx-BQ"] {
    color: var(--basebg) !important;
    background-color: var(--base02) !important;
}

button[class*="lookFilled"] {
    color: var(--basebg) !important;
    background-color: var(--base12) !important;
}

button[class*="buttonActive"][class*="lookFilled"] {
    color: var(--basebg) !important;
    background-color: var(--base06) !important;
}

button[class*="lookLink"] {
    color: var(--basefg) !important;
}

[class*="sprite"] {
    filter: brightness(80%) sepia(80%) saturate(60%) !important;
}

[class*="newMessagesBar"] {
    width: 50% !important;
    margin-left: 25% !important;
    opacity: 1 !important;
    border-radius: 0px !important;
    color: var(--basebg) !important;
    background-color: var(--base12) !important;
}

[class*="newMessagesBar"] button {
    display: initial !important;
    background-color: var(--base12) !important;
    color: var(--basebg) !important;
}

[class*="barButtonMain"], [class*="barButtonAlt"] {
    color: var(--basebg) !important;
}

span[class^="expandedFolderBackground"] {
    background-color: var(--basebg) !important;
}

[class*="pictureInPictureWindow"] {
    box-shadow: none !important;
}

[class*="divider"] {
    border-color: var(--base17) !important;
}

[class*="divider"][class*="isUnread"] {
    border-color: var(--base01) !important;
}

[class*="unreadPill"] {
    background-color: var(--base01) !important;
}

[class*="unreadPillCap"] {
    fill: var(--base01) !important;
}

[class*="live"][class*="textBadge"] {
    background-color: var(--base01) !important;
    color: var(--basebg) !important;
}

[class*="modal"][class*="queryContainer"],
[class*="modal"][class*="resultsGroup"],
[class*="modal"][class*="bodyInner"],
[class*="modal"][class*="quickMessage"],
[class*="modal"][class*="inner"],
[class*="modal"][class*="header"]:not(header):not(h2),
[class*="modal"][class*="uploadModal"],
[role*="dialog"] form {
    background-color: var(--basebg) !important;
}

[role*="dialog"] form [class*="footer"] {
    background-color: var(--base17) !important;
}

[class*="modal"][class*="sourceScroller"],
[class*="modal"][class*="segmentContainer"][class*="segmentControl"] {
    background-color: var(--base17) !important;
}

[class*="modal"][class*="header"] {
    padding-top: unset;
    padding: 0.4rem;
}

[class*="modal"][class*="footer"] {
    background-color: var(--base17) !important;
    filter: brightness(110%) !important;
}

[class*="panels"] > *:nth-child(2) {
    height: 4.6rem;
    padding-bottom: 0.5rem;
}

div[class*="chat"] div[class*="root"] {
    background-color: var(--basebg) !important;
}

[class*="circleIconButton"],
div[class*="rtcConnectionStatus"] * {
    color: var(--base06) !important;
}

code.hljs:not(.inline)::before {
    opacity: 1 !important;
    font-family: var(--code-font) !important;
    font-weight: normal !important;
}

pre,code {
    font-family: var(--code-font) !important;
}

[data-list-id="people"] {
    margin-top: 0px !important;
}

a[aria-label^="unread"] {
    font-weight: bold;
}

h3, h1, h2 > div, div[class^="repliedTextPreview"] {
    font-family: var(--italic-font) !important;
    font-style: italic;
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] {
    padding-top: 0 !important;
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child > div {
    box-shadow: none !important;
}

/* ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child + div > div[class^="guildSeparator"], [class*="pill"] { */
/*     display: none; */
/* } */

div[href="/channels/@me"]:not(:hover) > div {
    background-color: var(--basebg) !important;
}

[class*="wrapper"][class*="selected"] [class*="childWrapper"], [class*="wrapper"]:hover [class*="childWrapper"] {
    background-color: none !important;
}

[class*="guilds"] [class*="scroller"] {
    contain: none !important;
    padding-top: 0;
}

[class*="guilds"] [class*="scroller"] > [style] ~ [aria-label] {
    margin-top: 0px !important;
}

nav[aria-label="Servers sidebar"] {
    width: 70px !important;
}

[class*="sidebar"] {
    width: 240px !important;
}

.hljs {
    display: block;
    padding: 10px !important;
    overflow-x: hidden !important;
    scrollbar-width: 0px !important;
    background-color: var(--base17) !important;
}

.hljs,
.hljs-subst {
    color: var(--basefg) !important;
}

.hljs-deletion,
.hljs-formula,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
    color: var(--base01) !important;
}

.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-variable,
.hljs-type {
    color: var(--base04) !important;
}

.hljs-attr,
.hljs-params,
.hljs-template-tag {
    color: var(--base03) !important;
}

.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
    color: var(--base13) !important;
}

.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
    color: var(--base16) !important;
}

.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-title,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
    color: var(--base02) !important;
    font-weight: bold;
}

.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
    color: var(--base06) !important;
}

.hljs-comment {
    color: var(--base08) !important;
}

.hljs-link_label,
.hljs-literal,
.hljs-number {
    color: var(--base05) !important;
}

.hljs-comment,
.hljs-emphasis {
    font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
    font-weight: bold;
}
