@import url("userChrome.css");

:root {
    scrollbar-width: none !important;
}

@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker), body, #newtab-customize-overlay {
        background: var(--basebg) !important;
    }
}

@-moz-document domain("rateyourmusic.com") {
    div.warning {
        display: none !important;
    }
}

@-moz-document domain("github.com") {
    code,
    pre.notranslate,
    div.Box.mt-3.position-relative *,
    div.diff-view.commentable.js-diff-container.js-code-nav-container * {
        font-size: var(--font-size) !important;
        font-family: var(--font-family) !important;
    }

    bdi.js-issue-title.markdown-title code {
        font-size: 32px !important;
        font-family: var(--font-family) !important;
    }

    div.commit-desc pre {
        font-family: var(--font-family) !important;
    }
}

@-moz-document domain("codeberg.org") {
    div#diff-container *,
    div.render-content.markup > pre > code,
    div.tab-size-8.non-diff-file-content * {
        font-size: var(--font-size) !important;
        font-family: var(--font-family) !important;
    }
}

@-moz-document domain("gitlab.com") {
    div.file-holder * {
        font-size: var(--font-size) !important;
        font-family: var(--font-family) !important;
    }
}

/* @-moz-document domain("youtube.com") { */
/*     tp-yt-paper-dialog[class*="style-scope ytd-popup-container"] { */
/*         display: none !important; */
/*     } */
/* } */

@-moz-document url(about:privatebrowsing) {
    :root {
        scrollbar-width: none !important;
    }
}
