:root {
    --basebg: #1d2021;
    --basefg: #ebdbb2;
    --base00: #1d2021;
    --base08: #ebdbb2;
    --base01: #cc241d;
    --base09: #fb4934;
    --base02: #98971a;
    --base10: #b8bb26;
    --base03: #d65d0e;
    --base11: #d65d0e;
    --base04: #458588;
    --base12: #83a598;
    --base05: #b16286;
    --base13: #d3869b;
    --base06: #689d6a;
    --base14: #8ec07c;
    --base07: #a89984;
    --base15: #ebdbb2;
    --base16: #d65d0e;
    --base17: #282828;
    --base18: #32302f;
    --invert: 0;

    --nav-toolbar-padding: 8px;
    --font-family: "AnkaCoder Condensed";
    --font-size: 12px;
    --font-weight: 400;
    --tab-font-family: "AnkaCoder Condensed";
    --tab-font-size: 12px;
    --tab-font-weight: 400;
    --url-bar-color: var(--basefg);
    --url-bar-focused-color: var(--base12);
    --url-bar-font-family: "AnkaCoder Condensed";
    --url-bar-font-size: 12px;
    --url-bar-font-weight: 700;
    --url-bar-results-color: var(--base04);
    --url-bar-results-font-family: "AnkaCoder Condensed";
    --url-bar-results-font-size: 12px;
    --url-bar-results-font-weight: 700;
    --url-bar-results-url-color: var(--base04);
    --autocomplete-popup-background: var(--basebg) !important;
    --default-arrowpanel-background: var(--basebg) !important;
    --default-arrowpanel-color: var(--basefg) !important;
    --lwt-toolbarbutton-icon-fill: var(--basefg) !important;
    --panel-disabled-color: var(--base08);
    --toolbar-bgcolor: var(--basebg) !important;
    --url-bar-separator-color: var(--basebg) !important;

    -webkit-font-smoothing: antialiased !important;
}

* {
    border-radius: 0px !important;
    text-rendering: optimizeLegibility !important;
}

.tab-line {
    display: none !important;
}

#nav-bar-overflow-button, #home-button,
.private-browsing-indicator-with-label {
    display: none !important;
}

.tabbrowser-tab, .tab .tab-text {
    display: center !important;
    overflow: hidden !important;
    text-align: center !important;
    border-width: 0px !important;
    border-radius: 0px !important;
}

.tabbrowser-tab:not([pinned]) {
    margin-inline-start: 1px !important;
    margin-inline-end: 1px !important;
}

.tabbrowser-tab[pinned] .tab-background {
    opacity: 1 !important;
    background: var(--base12) !important;
}

.tab-content[pinned] .tab-icon-image {
    display: initial !important;
    color: var(--basebg) !important;
    filter: grayscale(1) brightness(1) contrast(1) invert(var(--invert)) !important;
}

.tab-content[pinned] .tab-text {
    display: none !important;
}

.tabbrowser-tab[soundplaying] .tab-background {
    opacity: 1 !important;
    background: var(--base10) !important;
}

.tabbrowser-tab[soundplaying] .tab-text {
    opacity: 1 !important;
    color: var(--basebg) !important;
}

.tabbrowser-tab[selected] .tab-background {
    opacity: 1 !important;
    background: var(--base13) !important;
}

tab[label*="Album -"] .tab-text {
    opacity: 1 !important;
    color: var(--basebg) !important;
}

tab[label*="Album -"] .tab-background {
    opacity: 1 !important;
    background: var(--base06) !important;
}

.tabbrowser-tab[muted] .tab-text {
    opacity: 1 !important;
    color: var(--basebg) !important;
}

.tabbrowser-tab[muted] .tab-background {
    opacity: 1 !important;
    background: var(--base08) !important;
}

.tab-secondary-label:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]) {
    display: none !important;
}

.tabbrowser-tab:not[visuallyselected] .tab-background {
    opacity: 1 !important;
    background: var(--basebg) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    border: none !important;
}

.tab-label:not([selected]) {
    color: var(--basefg) !important;
    border: none !important;
}

.tab-background {
    border: none !important;
}

.tabbrowser-arrowscrollbox {
    margin-inline-end: 0px !important;
    margin-inline-start: 0px !important;
}

.tab-text {
    color: var(--basebg) !important;
    font-size: var(--tab-font-size) !important;
    font-family: var(--tab-font-family) !important;
    font-weight: var(--tab-font-weight) !important;
}

.tab-content .tab-icon-image {
    display: none !important;
}

#tabbrowser-tabs {
    --tab-loading-fill: var(--base16) !important;
    --lwt-tab-line-color: transparent !important;
}

.tab-label-container:not([textoverflow]) {
    display: center !important;
    overflow: hidden !important;
    justify-content: fill !important;
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
}

toolbarbutton[id*="unified-extensions"] {
    display: none !important;
}

.urlbar-icon > image {
    fill: var(--basefg) !important;
    color: var(--basefg) !important;
}

#titlebar {
    order: 2 !important;
    -moz-appearance: none !important;
}

#toolbar-menubar {
    display: none !important;
}

.toolbarbutton-text {
    color: var(--basefg) !important;
}

.urlbar-icon {
    color: var(--basefg) !important;
}

.toolbarbutton-icon {}

#urlbar-results {
    font-family: var(--url-bar-results-font-family) !important;
    font-weight: var(--url-bar-results-font-weight) !important;
    font-size: var(--url-bar-results-font-size) !important;
    color: var(--base12) !important;
}

.urlbarView-row[type="bookmark"] > span {
    color: var(--base02) !important;
}

.urlbarView-row[type="switchtab"] > span {
    color: var(--base16) !important;
}

.urlbarView-url,
.search-panel-one-offs-container {
    color: var(--base12) !important;
    font-family: var(--url-bar-font-family) !important;
    font-weight: var(--url-bar-results-font-weight) !important;
    font-size: var(--url-bar-font-size) !important;
}

.urlbarView-favicon,
.urlbarView-type-icon {
    display: none !important;
}

#urlbar-input {
    font-size: var(--url-bar-font-size) !important;
    color: var(--basefg) !important;
    font-family: var(--url-bar-font-family) !important;
    font-weight: var(--url-bar-font-weight) !important;
    text-align: left !important;
}

#tracking-protection-icon-container, image#permissions-granted-box, #identity-box {
    display: none !important;
}

#PanelUI-button {
    display: none !important;
}

#reader-mode-button,
#readinglist-addremove-button {
    display: none !important;
}

toolbarbutton#fxa-toolbar-menu-button, toolbarbutton#alltabs-button {
    display: none !important;
}

toolbar {
    background-image: none !important;
}

#urlbar-background {
    opacity: 1 !important;
}

#navigator-toolbox, toolbaritem {
    border: none !important;
}

#urlbar-background {
    background: var(--basebg) !important;
    border: none !important;
}

#webrtcIndicator {
    display: none !important;
}

.toolbar-items {
    background: var(--basebg) !important;
}

#sidebar-search-container {
    background: var(--basebg) !important;
}

menuitem[id*="context-"]:hover {
    color: var(--base12) !important;
}

.tabbrowser-tab:hover {
    overflow: hidden !important;
    box-shadow: 1 0px 0px var(--base18) !important;
}

#PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="searchengine"],
#PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="visiturl"] {
    display: none !important;
}

/* [class="style-scope ytd-button-renderer style-default size-default"] { */
/*     display: none !important; */
/* } */

hbox.urlbar-page-action {
    display: none !important;
}

image#star-button {
    display: none !important;
}

toolbar#nav-bar {
    padding: var(--nav-toolbar-padding) !important;
}

toolbar#nav-bar {
    padding: 4px !important;
}

#urlbar {
    max-width: 100% !important;
    margin: 0 0% !important;
}

#urlbar-input:focus {
    color: var(--base12) !important;
}

.megabar[breakout-extend="true"]:not([open]) > #urlbar-background {
    box-shadow: none !important;
    background: transparent !important;
}

toolbarbutton {
    box-shadow: none !important;
}

.close-icon,
.urlbar-icon {
    fill: var(--basefg) !important;
}

.sidebar-placesTree {
    color: var(--basefg) !important;
}

#sidebar-switcher-target {}

#sidebar-box {
    --sidebar-background: var(--basebg) !important;
}

splitter#sidebar-splitter {
    opacity: 0 !important;
}

splitter#sidebar-splitter {
    border: none !important;
    background: transparent !important;
}

image#sidebar-icon {
    display: none !important;
}

.panel-arrowcontent {
    padding: 0px !important;
    margin: 0px !important;
}

#back-button, #reload-button, #stop-button, #forward-button {
    filter: invert(var(--invert)) !important;
}

#forward-button[disabled="true"] {
    visibility: collapse !important;
    transition: visibility 0ms ease-out !important;
}

#forward-button:not([disabled="true"]) {
    visibility: visible !important;
    transition: 0ms ease-out !important;
}

@media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"){
  #nav-bar > .titlebar-buttonbox-container{
    order: -1 !important;
    > .titlebar-buttonbox{
      flex-direction: row-reverse;
    }
  }
}

@media not (-moz-bool-pref: "sidebar.verticalTabs"){
  .global-notificationbox,
  #tab-notification-deck,
  #TabsToolbar{
    order: 1;
  }
  #TabsToolbar > :is(.titlebar-spacer,.titlebar-buttonbox-container){
    display: none;
  }
  :root[sizemode="fullscreen"] #nav-bar > .titlebar-buttonbox-container{
    display: flex !important;
  }
  :root[tabsintitlebar] #toolbar-menubar:not([autohide="false"]) ~ #nav-bar{
    > .titlebar-buttonbox-container{
      display: flex !important;
    }
    :root[sizemode="normal"] & {
      > .titlebar-spacer{
        display: flex !important;
      }
    }
    :root[sizemode="maximized"] & {
      > .titlebar-spacer[type="post-tabs"]{
        display: flex !important;
      }
      @media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"),
        (-moz-gtk-csd-reversed-placement),
        (-moz-platform: macos){
        > .titlebar-spacer[type="post-tabs"]{
          display: none !important;
        }
        > .titlebar-spacer[type="pre-tabs"]{
          display: flex !important;
        }
      }
    }
  }
}

.tab-throbber,
.tab-icon-image,
.tab-close-button,
.tab-icon-pending,
.tab-icon-overlay,
#tabs-newtab-button,
.tab-throbber-tabslist,
.tab-sharing-icon-overlay {
    display: none !important;
}
